name: Frontend CI

on:
  push:
    branches: [ master ]
    paths:
      - 'client/**'
      - '.github/workflows/frontend-ci.yml'

env:
  DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
  FRONTEND_IMAGE: ${{ vars.DOCKERHUB_USERNAME }}/todo-frontend:${{ github.sha }}

jobs:
  security-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: |
            client

      - name: Run Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trivy FS Scan (Source Code)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build and Scan Frontend
      - name: Build Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./client
          load: true
          tags: ${{ env.FRONTEND_IMAGE }}

      - name: Scan Frontend Image
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ${{ env.FRONTEND_IMAGE }}
          format: 'table'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          exit-code: '1'

      - name: Push Images to Docker Hub
        if: github.event_name == 'push'
        run: |
          docker push ${{ env.FRONTEND_IMAGE }}